@import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

.header {
  max-width: 768px;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
  border-bottom: 1px solid #eee;
  background: #fff;
  letter-spacing: 0.05em;
}

h1{
  font-family: 'Domine', serif;
}
h3 {
  font-family: 'Merriweather', serif;
  font-weight: inherit;
}
h2{
  font-family: 'Roboto', sans-serif;

}
.content {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  max-width: 768px;
}

pre {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #000;
  background: #f8f8ff;
}
